<h1>
  CHS Job
</h1>

<div class="block">
  <%= form_tag post_new_invoice_path do %>
    <%= select_tag 'customer', options_for_select(@customers), prompt: 'Select Customer' %>
    <%= select_tag 'user', options_for_select(@users), prompt: 'Select User' %>
    <%= submit_tag 'Create Invoice' %>
  <% end %>
</div>
