<h1>
  Ok, this is the test
</h1>

<table>
  <tr>
    <th>
      Left
    </th>
    <th>
     Right
    </th>
    <th>
      Center
    </th>
  </tr>

  <tr>
    <td class="left">
     This stuff should be in the left column
    </td>
    <td class="center">
    This stuff should be centered muthafucka
    </td>
    <td class="right">
     This muthafuckin shit should be on the right muthafuckin side of the
      muthafuckin page
   </td>
  </tr>
</table>

