<div class="side_menu_text">
  <ul>
    <li><%= link_to 'Search', search_products_path %>
    <li><%= link_to 'Catalog', products_path %>
    <li><%= link_to 'Inventory', user_inv_products_path %>
  </ul>
</div>
