<div class="side_menu_text">
  <ul>
    <li><%= link_to 'Invoices', search_invoices_path %>
    <li><%= link_to 'New Job', begin_invoice_path %>
    <li><%= link_to 'Customers', customers_path %>
  </ul>
</div>
