<div class="top_menu_text">
  <%= link_to 'Home', home_path %>
  <%= link_to 'Job', invoices_path %>
  <%= link_to 'Products', products_path %>
  <div class="signout">
    <%= link_to 'Sign Out', '/' %>
  </div>
</div>
